version: 2
updates:
  - package-ecosystem: "gradle" 
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      minor-deps:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
